h1.title{
    display: none;
}

#table-of-contents h1{
    display: none;
}

body {
    padding-top: 5rem;
    font-size: 16px;
}

#table-of-contents{
    margin-left: 1100px;
    display: none;
    position: fixed;
    list-style-type: none;
}

#text-table-of-contents{
    position: relative:
}

.outline-1, #footnotes, #postamble{
    margin: 5%;
    max-width: 992px;
}

#footnotes{
    word-break: break-all;
    word-break: break-word;
    hyphens:auto;
}

img, .twitter-tweet {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
}

@media only screen and (min-width: 1200px) {
    #table-of-contents{
	display: block;
    }
    body {
	padding-top: 0rem;
    }
}

#table-of-contents li{
    list-style-type: none;
}

#table-of-contents li > a {
    display: block;
    padding: 4px 20px;
    font-size: 14px;
    font-weight: 500;
    color: #999;
}

#table-of-contents .active {
    font-size: 20px;

}

#table-of-contents li > a:hover,
#table-of-contents li > a:focus {
    padding-left: 19px;
    color: #A1283B;
    text-decoration: none;
    background-color: transparent;
    border-left: 1px solid #A1283B;
}
#table-of-contents .active > a,
#table-of-contents .active:hover > a,
#table-of-contents .active:focus > a {
    padding-left: 18px;
    font-weight: bold;
    color: #A1283B;
    background-color: transparent;
    border-left: 2px solid #A1283B;
}

#table-of-contents ul li ul li ul li ul li{
    display: none;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    max-width: 80%;
    max-height: 500px;
    width: 80vw;
    height: 45vw;
}

iframe.twitter-tweet-rendered,
iframe[id^="twitter-widget"] {
    max-height: none;
    height: auto;
    width: auto;
    max-width: 550px;
}

.nav {
    max-height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode .navbar-default {
    background-color: #1e1e1e;
    border-color: #333;
}

body.dark-mode .navbar-default .navbar-nav > li > a {
    color: #e0e0e0;
}

body.dark-mode .navbar-default .navbar-nav > li > a:hover,
body.dark-mode .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #333;
}

body.dark-mode .navbar-default .navbar-toggle {
    border-color: #333;
}

body.dark-mode .navbar-default .navbar-toggle .icon-bar {
    background-color: #e0e0e0;
}

body.dark-mode h1, body.dark-mode h2, body.dark-mode h3, body.dark-mode h4, body.dark-mode h5, body.dark-mode h6 {
    color: #fff;
}

body.dark-mode a {
    color: #4db6e6;
}

body.dark-mode a:hover {
    color: #66c2ff;
}

body.dark-mode #table-of-contents li > a {
    color: #bbb;
}

body.dark-mode #table-of-contents li > a:hover,
body.dark-mode #table-of-contents li > a:focus {
    color: #A1283B;
    background-color: transparent;
}

body.dark-mode #table-of-contents .active > a,
body.dark-mode #table-of-contents .active:hover > a,
body.dark-mode #table-of-contents .active:focus > a {
    color: #A1283B;
    background-color: transparent;
}

body.dark-mode .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #1e1e1e;
}

body.dark-mode .table-bordered {
    border: 1px solid #333;
}

body.dark-mode .table-bordered > thead > tr > th,
body.dark-mode .table-bordered > tbody > tr > th,
body.dark-mode .table-bordered > tfoot > tr > th,
body.dark-mode .table-bordered > thead > tr > td,
body.dark-mode .table-bordered > tbody > tr > td,
body.dark-mode .table-bordered > tfoot > tr > td {
    border: 1px solid #333;
}

body.dark-mode .table > thead > tr > th {
    border-bottom: 2px solid #333;
}

body.dark-mode pre {
    background-color: #1e1e1e;
    border: 1px solid #333;
    color: #e0e0e0;
}

body.dark-mode code {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

body.dark-mode blockquote {
    border-left: 5px solid #333;
    color: #ccc;
}

/* Dark mode navbar toggle */
.dark-mode-nav-item {
    margin-left: 10px;
}

.dark-mode-toggle-nav {
    font-size: 18px;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.dark-mode-toggle-nav:hover {
    background-color: rgba(255, 255, 255, 0.1);
    text-decoration: none;
}

body.dark-mode .dark-mode-toggle-nav:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
