@import 'https://fonts.googleapis.com/css?family=Noto+Serif';

div.header{
	text-align: center;
	font-family: 'Noto Serif', Helvetica, Verdana, Serif;
}

div.header p{
	color:#858585;
}

.nav ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	line-height: 150%;
}

.navbar-fixed {
	top: 0;
	z-index: 100;
	width: 100%;
	position: fixed;
	background-color: white;
}

.navbar-fixed ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
	line-height: 150%;
}

div.header li {
	display: inline;
	padding: 0% 2% 0% 2%;
}

div.header li a{
	padding: 10px;
	transition: none 200ms ease-out;
	transition-property: color;
}

div.header a:link{
	color:#000000;
	text-decoration: none;
	text-transform: uppercase;
}

div.header a:visited{
	color:#000000;
	text-decoration: none;
	text-transform: uppercase;
}

/*I dont really like this color combo, fix this*/
div.header a:hover {
	color:#EBEBEB;
	background: #009ACD;
}

div.pagetext {
	margin: 0% 10% 0% 10%;
	padding: 1% 10% 4% 12.5%;
	font-family: 'Noto Serif', Helvetica, Verdana, Serif;
	font-size: 108%;
	line-height: 1.25;
	color: #181818;
	width: auto;
	max-width: 1000px;
}

div.pagetext h2{
	text-align: center;
}

div.pagetext h3{
	text-align: center;
}

div.pagetext img{
	display: block;
	height: auto;
	max-height: 100%;
	width: auto;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0px;
	padding-right: 0px;
}

div.pagetext img.inline{
	display: inline;
}

div iframe{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div.pagetext figcaption{
	text-align: center;
	font-style: italic;
}

div.toc {
	float:left;
	max-width: 180px;
	min-width: 110px;
	background:#eee;
	margin-right: 6%;
	margin-bottom: 2%;
	padding-right: 3px;
	padding-left: 3px;
	width: 31%;
}

div.toc li {
	list-style-type:none;
	margin-left: 6%;
	margin-right: 6%;
	padding-right:0px;
	padding-bottom: 8px;
	word-wrap: break-word;
	width: 100%;
}

div.toc ul {
	margin-left:0px;
	padding-left:0px;
	width: 100%;
}

div.proj{
	float: left;
    padding: 10px;
    width: 100%;
}

div.proj img{
	float: left;
    padding: 10px;
    width: 33%;
}

.proj:after {
    content: "";
    display: table;
    clear: both;
}