h1.title{
    display: none;
}

#table-of-contents h1{
    display: none;
}

body {
    padding-top: 5rem;
    font-size: 16px;
}

#table-of-contents{
    display: none;
}

.outline-1{
    margin-top: 0%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 0%;
    max-width: 992px;
}

.outline-x{
    margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 0%;
    max-width: 992px;
}

.outline-2{
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid-column;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
}

@media only screen and (min-width: 1200px) {
    body {
	padding-top: 0rem;
    }
}

@media screen and (min-width: 768px) { /* Adjust width as needed */
  .outline-col {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
	
  }
}

.outline-col > :first-child > h2 {
    margin-top: 0;
    padding-top: 0;
}

.outline-col {
    padding-bottom: 5%
}

#postamble {
    display: none;
}
	      
hr {
    border-width: 1px;
    border-color: black;
}
