h1.title{
    display: none;
}

#table-of-contents h1{
    display: none;
}

body {
    padding-top: 5rem;
    font-size: 16px;
}

#table-of-contents{
    margin-left: 1100px;
    display: none;
    position: fixed;
    list-style-type: none;
}

#text-table-of-contents{
    position: relative:
}

.outline-1, #postamble{
    margin: 5%;
    max-width: 992px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
}

@media only screen and (min-width: 1200px) {
    #table-of-contents{
	display: block;
    }
    body {
	padding-top: 0rem;
    }
}

#table-of-contents li{
    list-style-type: none;
}

#table-of-contents li > a {
    display: block;
    padding: 4px 20px;
    font-size: 14px;
    font-weight: 500;
    color: #999;
}

#table-of-contents .active {
    font-size: 20px;

}

#table-of-contents li > a:hover,
#table-of-contents li > a:focus {
    padding-left: 19px;
    color: #A1283B;
    text-decoration: none;
    background-color: transparent;
    border-left: 1px solid #A1283B;
}
#table-of-contents .active > a,
#table-of-contents .active:hover > a,
#table-of-contents .active:focus > a {
    padding-left: 18px;
    font-weight: bold;
    color: #A1283B;
    background-color: transparent;
    border-left: 2px solid #A1283B;
}

iframe {
    width: 80%;
    height: 500px;
    margin: 1rem;
    margin-left: 4rem;
}
